<div >
   <div class="search">
      <div>Find tour</div>

      <div>
         <span class="p-input-icon-left">
            
            <input #ticketSearch [(ngModel)]="ticketSearchValue" type="text" pInputText />
         </span>
         
      </div>
      <div>
         <p>
            Amount: {{tickets?.length}}
         </p>
         <p *ngIf="blockDirective">
            Active: {{blockDirective.activeElementIndex}}
         </p>
      </div>
   </div>

 

   <div appBlocksStyle 
   *ngIf="tickets"
   #tourWrap 
   #blockDirective='blockStyle'
    [selector]="'.ticket-item'"
      [initFirst]="false" class="d-flex flex-wrap justify-content-around">
      <div class="ticket-item col-3 m-2" (click)="goToTicketInfoPage(item)" *ngFor="let item of tickets; let i=index">
         <div class="ticket-title">{{item.name}}</div>
         <div class="ticket-img">
            <!-- <img class="w-100" src="assets/img/{{item.img}}" /> -->
            <img class="w-100" src="http://localhost:3000/tour-item/img/{{item.img}}" />
         </div>

      </div> 
   </div>
</div>
