
:host {
    height: 60px;
    width: 100%;
    display: block;
}

.time-block {
    position: absolute;
    right: 0;
    padding: 4px;
}

.user-login {
    position: absolute;
    right: 60px;
    padding: 20px;
}